<!--form modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Employee Onboarding</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="row g-2">
                      <!--First name-->
                      <div class="form-floating col mb-3">
                          <input type="text" class="form-control" id="floatingInput" formControlName="firstName" placeholder="First Name">
                          <label for="floatingInput">First Name</label>
                      </div>
                      <!--Last name-->
                      <div class="form-floating col mb-3">
                          <input type="text" class="form-control" id="floatingInput" formControlName="lastName" placeholder="Last Name">
                          <label for="floatingInput">Last Name</label>
                      </div>
                  </div>
                  <!--Role-->
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" formControlName="role" placeholder="Role">
                      <label for="floatingInput">Role</label>
                  </div>
                  <!--Designation-->
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" formControlName="designation" placeholder="Designation">
                      <label for="floatingInput">Designation</label>
                  </div>
                  <div class="row g-2 mb-3">
                      <!--Gender-->
                      <div class="col-md-7">
                          <div class="form-check-inline">
                              <label class="form-check-label">Gender</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" formControlName="gender" value="Male">
                              <label class="form-check-label" for="inlineRadio1">Male</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" formControlName="gender" value="Female">
                              <label class="form-check-label" for="inlineRadio2">Female</label>
                          </div>
                      </div>
                      <!--Marital status-->
                      <div class="col-md-5">
                          <div class="form-floating">
                              <select formControlName="maritalStatus" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option value="Single">Single</option>
                                  <option value="Married">Married</option>
                                  <option value="Divorced">Divorced</option>
                              </select>
                              <label for="floatingSelectGrid">Marital Status</label>
                          </div>
                      </div>
                  </div>
                  <div class="row g-2 mb-3">
                      <!--Salary-->
                      <div class="form-floating col">
                          <input type="number" class="form-control" id="floatingInput" formControlName="salary" placeholder="Salary">
                          <label for="floatingInput">Salary</label>
                      </div>
                      <!--Mobile number-->
                      <div class="form-floating col">
                          <input type="number" class="form-control" id="floatingInput" formControlName="mobileNo" placeholder="Mobile Number">
                          <label for="floatingInput">Mobile Number</label>
                      </div>
                  </div>
                  <!--Email ID-->
                  <div class="form-floating col mb-3">
                      <input type="email" class="form-control" id="floatingInput" formControlName="emailId" placeholder="Email ID">
                      <label for="floatingInput">Email ID</label>
                  </div>
                  <!--Address-->
                  <div class="form-floating col mb-3">
                      <input type="text" class="form-control" id="floatingInput" formControlName="address" placeholder="Address">
                      <label for="floatingInput">Address</label>
                  </div>
                  <!--Image-->
                  <div class="form-floating col mb-3">
                      <input type="text" class="form-control" id="floatingInput" formControlName="image" placeholder="Profile Image">
                      <label for="floatingInput">Profile Image</label>
                  </div>
                  <!--Employee info-->
                  <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" formControlName="employeeInfo" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">Profile Info</label>
                  </div>
                  <!--Add and Cancel buttons-->
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Cancel</button>
                      <button type="submit" class="btn btn-primary">Add Employee</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>