<app-nav-bar></app-nav-bar>

<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Team Portal</h1>
            <p class="lead mb-0">Welcome to the Employee Manager Portal for managing our employees</p>
            <p class="lead">We provide you with a one stop solution for performing all your daily operations</p>
        </div>
    </div>
</div><!-- End -->

<div class="container">
    <div class="row text-center">
        <!--Employee card start-->
        <div *ngFor="let employee of employeeList" class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="{{employee.image}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <span *ngIf="employee.department != null; else unassigned" class="badge bg-success">ASSIGNED</span>
                <ng-template #unassigned>
                    <span class="badge bg-danger">UNASSIGNED</span>
                </ng-template>
                <h5 class="mb-0">{{employee.firstName}} {{employee.lastName}}</h5><span class="small text-uppercase text-muted">{{employee.role}}</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a [routerLink]="['/employee', employee.employeeId]" class="social-link"><i class="fa fa-eye"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-heart-o"></i></a></li>
                    <li class="list-inline-item"><a (click)="openFormModal('edit', employee.employeeId)" class="social-link"><i class="fa fa-pencil"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-trash-o"></i></a></li>
                </ul>
            </div>
        </div>  <!--Employee card end-->
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div>
            <a (click)="openFormModal('add')"><i class="bi bi-plus-circle" id="boot-icon"></i></a>
        </div>
    </div>
</div>

<!--show modal when above button is clicked, and close it when event occurs to close it-->
<app-employee-add-modal *ngIf="showModal == true && modalType == 'add'" (modalEmitter)="modalEmit($event)"></app-employee-add-modal>

<app-employee-edit-modal *ngIf="showModal == true && modalType == 'edit'" 
                        (modalEmitter)="modalEmit($event)"
                        [employeeId]="basicEmployeeId">
</app-employee-edit-modal>