<app-nav-bar></app-nav-bar>

<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Team Portal</h1>
            <p class="lead mb-0">Welcome to the Employee Manager Portal for managing our employees</p>
            <p class="lead">We provide you with a one stop solution for performing all your daily operations</p>
        </div>
    </div>
</div><!-- End -->

<div class="container">
    <div class="row text-center">
        <!--Employee card start-->
        <div *ngFor="let employee of employeeList" class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="{{employee.image}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <span *ngIf="employee.department != null; else unassigned" class="badge bg-success">ASSIGNED</span>
                <ng-template #unassigned>
                    <span class="badge bg-danger">UNASSIGNED</span>
                </ng-template>
                <h5 class="mb-0">{{employee.firstName}} {{employee.lastName}}</h5><span class="small text-uppercase text-muted">{{employee.role}}</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a [routerLink]="['/employee', employee.employeeId]" class="social-link"><i class="fa fa-eye"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-heart-o"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-pencil"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-trash-o"></i></a></li>
                </ul>
            </div>
        </div>  <!--Employee card end-->
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div>
            <a (click)="openFormModal()"><i class="bi bi-plus-circle" id="boot-icon"></i></a>
        </div>
    </div>
</div>

<!--form modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Employee Onboarding</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row g-2">
                    <!--First name-->
                    <div class="form-floating col mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="firstName" placeholder="First Name">
                        <label for="floatingInput">First Name</label>
                    </div>
                    <!--Last name-->
                    <div class="form-floating col mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="lastName" placeholder="Last Name">
                        <label for="floatingInput">Last Name</label>
                    </div>
                </div>
                <!--Role-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" formControlName="role" placeholder="Role">
                    <label for="floatingInput">Role</label>
                </div>
                <!--Designation-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" formControlName="designation" placeholder="Designation">
                    <label for="floatingInput">Designation</label>
                </div>
                <div class="row g-2 mb-3">
                    <!--Gender-->
                    <div class="col-md-7">
                        <div class="form-check-inline">
                            <label class="form-check-label" for="genderRadio">Gender</label>
                        </div>
                        <div class="form-check form-check-inline" id="genderRadio">
                            <input class="form-check-input" type="radio" name="genderRadio" id="inlineRadio1" formControlName="gender" value="Male">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genderRadio" id="inlineRadio2" formControlName="gender" value="Female">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                    </div>
                    <!--Marital status-->
                    <div class="col-md-5">
                        <div class="form-floating">
                            <select formControlName="maritalStatus" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option selected>Select</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                            </select>
                            <label for="floatingSelectGrid">Marital Status</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mb-3">
                    <!--Salary-->
                    <div class="form-floating col">
                        <input type="number" class="form-control" id="floatingInput" formControlName="salary" placeholder="Salary">
                        <label for="floatingInput">Salary</label>
                    </div>
                    <!--Mobile number-->
                    <div class="form-floating col">
                        <input type="number" class="form-control" id="floatingInput" formControlName="mobileNo" placeholder="Mobile Number">
                        <label for="floatingInput">Mobile Number</label>
                    </div>
                </div>
                <!--Email ID-->
                <div class="form-floating col mb-3">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="Email ID">
                    <label for="floatingInput">Email ID</label>
                </div>
                <!--Address-->
                <div class="form-floating col mb-3">
                    <input type="text" class="form-control" id="floatingInput" formControlName="address" placeholder="Address">
                    <label for="floatingInput">Address</label>
                </div>
                <!--Image-->
                <div class="form-floating col mb-3">
                    <input type="text" class="form-control" id="floatingInput" formControlName="image" placeholder="Profile Image">
                    <label for="floatingInput">Profile Image</label>
                </div>
                <!--Employee info-->
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Profile Info</label>
                </div>
                <!--Add and Cancel buttons-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Employee</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>