<div class="container py-5">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto bg-info text-white">
            <h1 class="display-4">Department Portal</h1>
            <p class="lead mb-0">Welcome to the Department Manager Portal for managing our departments</p>
            <p class="lead">Here we provide you a portal for performing all operations with respect to our departments</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
        <div class="col mt-4 mb-4" *ngFor="let department of departmentList">
            <div class="card radius-15" [ngClass]="department.departmentBgColor">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <img src="{{department.departmentLogo}}" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                        <h5 class="mb-0 mt-5 text-white">{{department.departmentName}}</h5>
                        <p class="mb-3 text-white"><i class="fa fa-user"></i> {{department.departmentHead}}</p>
                        <div class="list-inline contacts-social mt-3 mb-3"> 
                            <a [routerLink]="['/department', department.departmentId]" class="list-inline-item border-0"><i class="fa fa-eye"></i></a>
                            <a href="javascript:;" class="list-inline-item border-0"><i class="fa fa-pencil"></i></a>
                            <a href="javascript:;" class="list-inline-item border-0"><i class="fa fa-trash-o"></i></a>
                        </div>
                        <div class="d-grid"> <a href="#" class="btn btn-white radius-15">Assign Employee</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>