<div class="container">
    <div id="content" class="content pt-2">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img mb-4">
                    <img src="{{department.departmentLogo}}" class="mb-4" alt="" />
                </div>
    
                <div class="profile-header-info">
                    <h2 class="m-t-sm">{{department.departmentName}}</h2>
                    <p class="mb-1"><strong>Department ID:</strong>  {{department.departmentId}}</p>
                    <p><strong>Department Head:</strong> {{department.departmentHead}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about pt-4">
        <h2>Department Info</h2>
        <p>{{department.departmentInfo}}</p>
    </div>
</div>