.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

#boot-icon {
    font-size: 200px;
    opacity: 0.4;
    color: rgb(128, 128, 128);
    justify-content: center;
}

#boot-icon:hover {
    color: black;
    cursor: pointer;
}

.badge {
    position: relative;
    top: -90px;
    right: -50px;
}

.img-fluid {
    position: relative;
    right: -45px;
}

h1 {
    font-weight: 400;
    color: white;
}

.lead {
    color: white;
    font: caption;
}