/* You can add global styles to this file, and also import other style files */
body {
    background: #9f6e6efa;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}