<!--form modal-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="exampleModalLabel">Delete Department</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete department <strong>{{departmentId}}</strong> from Department Portal?</p>
                  <!--Add and Cancel buttons-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onSubmit()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>